version: '3.9'

services:
  postgres:
    image: postgres:16-alpine
    container_name: remina-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: remina
    ports:
      - "5432:5432"
    volumes:
      - remina_pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 3s
      retries: 20

  adminer:
    image: adminer:4
    container_name: remina-adminer
    depends_on:
      - postgres
    environment:
      ADMINER_DEFAULT_SERVER: postgres
    ports:
      - "8080:8080"

volumes:
  remina_pg_data: {}
